footer {
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav li {
    list-style-type: none
}

canvas {
    display: block;
    margin: 0 auto;
}
